:root {
	--blue-clr: #3282f7;
	--green-clr: #68d9a4;
	--red-clr: #ed6454;
}

.container-xl {
	max-width: 1600px;
}

.header img {
	max-width: 268px;
}

/*  form  */
.input-group .form-control {
	background-color: #e7e7e7;
	border: 1px solid transparent;
}

.input-group .input-group-text {
	background-color: #e7e7e7;
	padding-right: 1em;
	cursor: pointer;
	height: 100%;
}

.input-group .btn-primary {
	background-color: var(--blue-clr);
	border-color: var(--blue-clr);
}

.input-group .btn-success {
	background-color: var(--green-clr);
	border-color: var(--green-clr);
}

.input-group .btn-danger {
	background-color: var(--red-clr);
	border-color: var(--red-clr);
}

.dropdown {
	width: 100%;
}

.dropdown .input-group .btn {
	border-radius: 5px !important;
	min-width: 172px;
	padding-top: 0.85em;
	padding-bottom: 0.85em;
}
.dropdown .dropdown-menu {
	border: 1px solid transparent;
	padding-top: 1.4em;
	width: 100%;
	top: 2.95em;
	max-width: 667px;
	max-height: 390px;
	overflow-y: auto;
	-ms-overflow-style: none;
	scrollbar-width: none;
}
.dropdown-menu::-webkit-scrollbar {
	display: none;
}

.dropdown-item {
	color: white;
	padding-bottom: 0.4em;
}

.input-group ::placeholder {
	color: white;
	opacity: 0.5;
}

.dropdown .form-control {
	background-color: var(--blue-clr);
	border-radius: 5px 5px 0 0 !important;
	padding: 1em;
	color: white;
	max-width: 668px;
}

.dropdown .form-control:nth-child(4) {
	background-color: var(--green-clr);
}

.dropdown .form-control:nth-child(6) {
	background-color: var(--red-clr);
}

.dropdown .form-control:focus {
	box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 0%);
}

.dropdown-item:hover {
	background-color: #2c74dd;
	font-weight: bold;
	color: white;
	border-color: transparent;
	outline: 0;
	box-shadow: 0 0 0 0.25rem transparent;
}

.dropdown-item:focus {
	color: white;
	background-color: #2c74dd;
}

.fiters-containers .list-group-item {
	color: white;
	background-color: transparent;
	border: none;
	min-width: 200px;
	cursor: pointer;
	padding: 0;
}

.fiters-containers .list-group-item:hover {
	font-weight: bold;
}

/* card  */

.card {
	width: 29.35%;
	margin-bottom: 60px;
	min-width: 328px;
	max-width: 380px;
}

.card .card-body {
	background-color: #e7e7e7;
}
.card .list-group-item {
	border: none;
	padding: 0;
	background-color: #e7e7e7;
}

.card .card-title {
	font-size: 18px;
}

.card .card-text,
.card .list-group-item {
	font-size: 12px;
}

/*    alert     */
.fiters-containers .alert {
	width: 170px;
	max-height: 69px;
	justify-content: space-between;
	color: white;
	padding: 1rem 0.6rem;
}

.alert-primary div:first-child {
	transform: translateY(-6px);
}

.alert::-webkit-scrollbar {
	display: none;
}

.alert-primary {
	background-color: var(--blue-clr);
	border-color: var(--blue-clr);
}

.alert-success {
	background-color: var(--green-clr);
	border-color: var(--green-clr);
}

.alert-danger {
	background-color: var(--red-clr);
	border-color: var(--red-clr);
	color: white;
}

.alert .btn {
	padding: 0.375rem 0.2rem;
	color: white;
}

.alert input[type='text'] {
	background-color: transparent;
	border: none;
	width: 100%;
}

.alert input[type='text']:focus-visible {
	outline: 1px solid var(--blue-clr);
	color: white;
}

input::-webkit-input-placeholder {
	color: white;
}

input::-ms-input-placeholder {
	color: white;
}

input:-ms-input-placeholder {
	color: white;
}

/*  error message  */
.alert-danger {
	transition: all 500ms ease-in-out;
}

.no-result {
	overflow-y: hidden;
	height: 0;
	padding: 0;
	opacity: 0;
}
