:root {
	--blue-clr: #3282f7;
	--green-clr: #68d9a4;
	--red-clr: #ed6454;
}

.header img {
	max-width: 268px;
}

/*  form  */
.input-group .form-control {
	background-color: #e7e7e7;
	border-right: none;
}

.input-group .input-group-text {
	background-color: #e7e7e7;
	padding-right: 1em;
	cursor: pointer;
	height: 100%;
}

.fiters-containers .list-group-item {
	color: white;
	background-color: transparent;
	border: none;
	min-width: 200px;
	cursor: pointer;
}

.fiters-containers .list-group-item:hover {
	font-weight: bold;
}

/* card  */

.card {
	width: 29.35%;
	margin-bottom: 60px;
	min-width: 328px;
}

.card .card-body {
	background-color: #e7e7e7;
}
.card .list-group-item {
	border: none;
	padding: 0;
	background-color: #e7e7e7;
}

.card .card-title {
	font-size: 18px;
}

.card .card-text,
.card .list-group-item {
	font-size: 12px;
}

/*    alert     */
.fiters-containers .alert {
	width: 170px;
	max-height: 69px;
	justify-content: space-between;
	color: white;
	padding: 1rem 0.6rem;
}

.alert-primary div:first-child {
	transform: translateY(-6px);
}

.alert::-webkit-scrollbar {
	display: none;
}

.alert-primary {
	background-color: var(--blue-clr);
	border-color: var(--blue-clr);
}

.alert-success {
	background-color: var(--green-clr);
	border-color: var(--green-clr);
}

.alert-danger {
	background-color: var(--red-clr);
	border-color: var(--red-clr);
	color: white;
}

.alert .btn {
	padding: 0.375rem 0.2rem;
	color: white;
}

.alert input[type='text'] {
	background-color: transparent;
	border: none;
	width: 100%;
}

.alert input[type='text']:focus-visible {
	outline: 1px solid var(--blue-clr);
	color: white;
}

input::-webkit-input-placeholder {
	color: white;
}

input::-ms-input-placeholder {
	color: white;
}

input:-ms-input-placeholder {
	color: white;
}

/*  error message  */
.alert-danger {
	transition: all 500ms ease-in-out;
}

.no-result {
	overflow-y: hidden;
	height: 0;
	padding: 0;
	opacity: 0;
}
